apps     = ""
clusters = ""
env_types = [
  {
    "description": "Development",
    "id": "development"
  },
  {
    "description": "Staging",
    "id": "staging"
  },
  {
    "description": "Production",
    "id": "production"
  }
]

# ID of the Humanitec Organization
org_id = ""