
# ID of the Humanitec Application
app_id = ""

# Name of the Humanitec Application
app_name = ""

clusters = []
envs = [
  {
    "id": "development",
    "name": "development",
    "type": "development"
  },
  {
    "id": "staging",
    "name": "staging",
    "type": "staging"
  },
  {
    "id": "production",
    "name": "production",
    "type": "production"
  }
]
viewer_users = []