
# ID of the Humanitec Application
app_id = ""

# Name of the Humanitec Application
app_name = ""

# Google Cloud Service Account email address to provision cloud infrastructure
cloud_account_gsa_email = ""

# Google Cloud Service Account ID to provision cloud infrastructure
cloud_account_id = ""

# Cost Center ID
cost_center = ""

env_types = ""
envs = [
  {
    "id": "development",
    "name": "development",
    "type": "development"
  },
  {
    "id": "staging",
    "name": "staging",
    "type": "staging"
  },
  {
    "id": "production",
    "name": "production",
    "type": "production"
  }
]

# Google Cloud Project ID
gcp_project_id = ""

# Google Cloud Project region
gcp_region = ""

# The Workload Identity Pool Provider name to access the GKE cluster from Humanitec.
gcp_wi_pool_provider_name = ""

resource_quota = ""
viewer_users   = []