
# The AWS region
aws_region = ""

# The AWS Account associated to the EKS cluster and provisioning any infrastructure via Terraform too
cloud_account = ""

# The Env Type ID for the EKS cluster
env_type_id = ""

# The Load Balancer of the EKS cluster
load_balancer = ""

# The Load Balancer Hosted Zone of the EKS cluster
load_balancer_hosted_zone = ""

# The Name of the EKS cluster
name = ""